.container{
  width: 90%;
}

.navbar{
  background-color: #fff;
  border: 1px solid rgba(56, 53, 56, 0.333);
  height: 100px;
}
a{
  text-decoration: none!important;
  color: #5f5e5e!important;
}
.card-session{
  background-color: rgba(235, 227, 227, 0.582);
}
.card{
  border-radius: 10px!important;
  background-color: #fff;
}
